@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

@theme {
    /*typography - Plus Jakarta Sans*/
    --font-sans: 'Plus Jakarta Sans', sans-serif;

    /*primary colors*/
    --color-pok-red-400: oklch(0.63 0.24 23.4);/*border*/
    --color-pok-red-500: oklch(0.53 0.24 23.4);/*text*/
    --color-pok-slate-50: oklch(98.4% 0.003 247.858);/*text*/
    --color-pok-yellow-400: oklch(85.2% 0.199 91.936);/*text*/
    --color-pok-dark-100: oklch(0.18 0.03 258);/*background-card*/
    --color-pok-dark-200: oklch(0.12 0.03 255);/*Background*/
    
    /*elemental colors*/
    --color-type-grass: oklch(0.67 0.19 143.6);
    --color-type-fire: oklch(0.64 0.21 34.6);
    --color-type-water: oklch(0.61 0.15 231.2);
    --color-type-electric: oklch(0.84 0.18 84.3);
}

* {
    font-family: var(--font-sans);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}